{%load static%}

<body>
    <!-- Navigation -->
    {% include "notavampire/nav.html" %}

    <!-- Header -->
    <section class="page">
      <div class="container">
	<div class="row">
	  <div class="col-lg-12">
	    <h2><i class="fa fa-comments-o"></i> Feedback</h2>
	    <p>If you have general feedback, please email me at:</p>
	    <p><strong><a href="mailto:jacob.a.teal@gmail.com">jacob.a.teal@gmail.com</a></strong></p>
	  </div>
      </div>
    </section>
    
    <!-- Page Content -->

    {% include "notavampire/footer.html" %}
    {% include "notavampire/loaddep.html" %}
    

</body>

