{%load static%}
<!-- Bootstrap core CSS -->
    <link href="{% static 'notavampire/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'notavampire/css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'notavampire/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <script src="{% static 'notavampire/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'notavampire/vendor/tether/tether.min.js' %}"></script>
    <script src="{% static 'notavampire/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
